body{
    font-family: 'Heebo', sans-serif;
    margin: 0;
}
.top-banner{
    text-align: center;
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 70px;
    padding-bottom: 50px;
    color: white;
    height: 70vh;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(255,255,255,0)), url(images/donation6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.let-help{
    font-size: 60px;
    margin-bottom: 0px;
}
.proudly{
    text-align: center;
    margin-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
}
.donateNow-button{
    text-decoration: none;
    background-color: rgb(247, 86, 58);
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.donate-today-section{
    text-align: center;
    margin-top: 70px;
}
.donate-today{
    font-size: 45px;
}
.taka{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}
#t100{
    padding: 40px;
    background-color: antiquewhite;
    border-radius: 5px;
}
#t200{
    padding: 40px;
    background-color: antiquewhite;
    margin-left: 10px;
    border-radius: 5px;
}
#t500{
    padding: 40px;
    background-color: antiquewhite;
    margin-left: 10px;
    border-radius: 5px;
}
#t1k{
    padding: 40px;
    background-color: antiquewhite;
    margin-left: 10px;
    border-radius: 5px;
}
#t5k{
    padding: 40px;
    background-color: antiquewhite;
    margin-left: 10px;
    border-radius: 5px;
}
.other-amount{
    margin-top: 40px;
}
.donate-now2{
    text-decoration: none;
    background-color: rgb(247, 86, 58);
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}