body{
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
}
.top-banner{
    text-align: center;
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 70px;
    padding-bottom: 50px;
    color: white;
    height: 70vh;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(255,255,255,0)), url(images/donation6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.let-help{
    font-size: 60px;
    margin-bottom: 0px;
}
.proudly{
    text-align: center;
    margin-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
}
.donateNow-button{
    text-decoration: none;
    background-color: rgb(247, 86, 58);
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.donate-today-section{
    text-align: center;
    margin-top: 70px;
    padding-left: 300px;
    padding-right: 300px;
}
.donate-today{
    font-size: 40px;
}
.para{
    font-weight: 600;
    color: rgb(139, 146, 154);
}
.taka{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-weight: 800;
    margin-left: 150px;
    margin-right: 150px;
    
}
#t100{
    padding: 40px;
    background-color: rgb(245, 242, 238);
    border-radius: 5px;
    font-size: 30px;
    color: rgb(117, 118, 119);
}
#t200{
    padding: 40px;
    background-color: rgb(255, 233, 229);
    margin-left: 15px;
    font-size: 30px;
    color: tomato;
    border: 3px solid tomato;
    border-radius: 5px;
}
#t500{
    padding: 40px;
    background-color: rgb(245, 242, 238);
    margin-left: 15px;
    border-radius: 5px;
    font-size: 30px;
    color: rgb(117, 118, 119);
}
#t1k{
    padding: 40px;
    background-color: rgb(245, 242, 238);
    margin-left: 15px;
    border-radius: 5px;
    font-size: 30px;
    color: rgb(117, 118, 119);
}
#t5k{
    padding: 40px;
    background-color: rgb(245, 242, 238);
    margin-left: 15px;
    border-radius: 5px;
    font-size: 30px;
    color: rgb(117, 118, 119);
}
input{
    margin-top: 40px;
    width: 100%;
    text-align: center;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style:groove;
    font-size: 17px;
}
.donate-now2-button{
    text-decoration: none;
    background-color: rgb(247, 86, 58);
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.donate-plan-section{
    margin-top: 70px;
}
.donate-plan{
    font-size: 40px;
    text-align: center;
}
.para2{
    font-weight: 600;
    color: rgb(139, 146, 154);
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    margin-bottom: 30px;
}
.food-shelter-education{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.food{
    background-color: rgb(176, 234, 234);
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.shelter{
    background-color: rgb(247, 206, 191);
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.education{
    background-color: rgb(248, 224, 193);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.our-work-section{
    text-align: center;
}
.our-work{
    font-size: 40px;
    text-align: center;
}
.our-work-para{
    font-weight: 600;
    color: rgb(139, 146, 154);
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 30px;
}
.water-world{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-weight: 800;

}
img{
    height: 100px;
    width: 100px;
}
.dollar{
    margin-right: 20px;
    font-size: 20px;
    color: rgb(234, 11, 11);
}
.project{
    margin-right: 20px;
    font-size: 20px;
    color: rgb(59, 11, 234);
}
.world{
    font-size: 20px;
    color:black
}
.learn-more-button{
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 400;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color: tomato;
    border: 3px solid tomato;
    border-radius: 5px;
}
.my-upates-section{
    margin-top: 100px;
}
.my-updates{
    font-size: 40px;
    text-align: center;
}
.para3{
    font-weight: 600;
    color: rgb(139, 146, 154);
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    margin-bottom: 30px;
}
.form{
    display: flex;
    background-color: rgb(255, 230, 198);
    padding: 50px 130px 80px;
    margin: 0px 250px 0px 250px;
}
.email{
    background-color: rgb(221, 216, 209);
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: left;
    padding: 10px 40px; 
    line-height: 10px;
}
.submit{
    background-color: tomato;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
footer{
    font-family: 'Lobster', cursive;
    background-color: black;
    margin-top: 70px;
    padding-top: 25px;
    font-size: 30px;
    color: tomato;
    text-align: center;
    height: 130px;

}
small{
    font-size: 13px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}